.modifier {
    cursor: pointer;
}
.modifier.active {
    background: #b68b5f;
}
.modifier:hover {
    background: #99c2ff;
 }
.suit-red {
    color: #c20000;
}
.suit-black {
     color: #1c272b;
 }
table.Range {
    padding: 0;
    user-select: none;
    font-size: 0.9rem;
    border-collapse: collapse;
}
table.Range tr {
    padding: 0;
}
table.Range tr td {
    position: relative;
    padding: 0.5rem 0.33rem;
    border: 1px solid #222222;
    cursor: pointer;
}
table.Range tr small {
    position: absolute;
    bottom: 0;
    font-size: 0.65rem;
    padding: 0.05rem 0 0;
    right: 2px;
}
table.Range tr td.suited {
    background: #83c1ef;
}
table.Range tr td.pair {
    background: #ff8279;
}
table.Range tr td.offsuit {
    background: #ffd396;
}

table.Range tr td.off.suited {
    background: #316781;
}
table.Range tr td.off.pair {
    background: #683333;
}
table.Range tr td.off.offsuit {
    background: #6a553e;
}
table.Range tr td.disabled {
    background: #253136;
    cursor: not-allowed;
}
